name: Create release
run-name: Create release ${{ github.ref_name }}

env:
  VERSION: github.ref_name

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6.2.0
        with:
          go-version: '1.25.7'
      - run: sh scripts/build.sh
      - uses: softprops/action-gh-release@v2.5.0
        if: github.ref_type == 'tag'
        with:
          files: dist/regotest_*
